body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, serif;
}

h1{
    margin-top: 30px;
    text-align: center;
}

h1:hover{
        text-shadow: 0.5px 0.5px 1px gray;
        cursor: default;
}

.date{
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
    color: rgb(28, 28, 99);
}

